@import url(./_action/button_action_cross.css);
@import url(./_action/button_action_pencil.css);
@import url(./_action/button_action_empty-heart.css);
@import url(./_action/button_action_fill-heart.css);
@import url(./_action/button_action_trash.css);

@import url(./_state/button_state_invisible.css);

.button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  color: white;
  outline: 0;
  cursor: pointer;
}
