.elements {
  list-style: none;
  padding: 0;
  margin-bottom: 66px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 21px;
  column-gap: 18px;
}

@media (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
  }
}

@media (max-width: 425px) {
  .elements {
    grid-template-columns: 1fr;
    margin-bottom: 48px;
  }
}
