@import url(./_state/input_state_invalid.css);
@import url(./_state/input_state_valid.css);
@import url(./_state/input_state_initial.css);

.input {
  width: 100%;
  padding: 13px 0;
  box-sizing: border-box;
  outline: 0;
}
