@import url(./__welcome/register__welcome.css);

@import url(./__input/register__input.css);

@import url(./__button-container/register__button-container.css);
@import url(./__link/register__link.css);
@import url(./__signin/register__signin.css);
@import url(./__login-link/register__login-link.css);

.register {
  color: white;
  max-width: 360px;
  margin: 0 auto;
}
