@import url(./__logo/header__logo.css);

.header {
  margin-bottom: 36px;
  padding: 45px 0 40px;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
}

@media (max-width: 425px) {
  .header {
    margin: 0 -19px 36px;
    padding: 28px 27px 31px;
  }
}
